.care-receiver-detail-header {
    display: flex;
    justify-content: space-between;
}

#care-receiver-detail-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#care-receiver-detail-close {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    padding-right: 2px;

    text-decoration: none;

    transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;

}

#care-receiver-detail-close:hover {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-decoration: none;
    color: #D71921;
}

.care-receiver-details input {
    font-family: "Roboto", sans-serif;
    background: #FFFFFF;
    border: none;
    width: 100%;
    font-weight: 300;
    color: #454c55;
}

.care-receiver-details button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    min-width: 200px;
    max-width: 300px;
    border: 0;
    margin: 8px 6px 8px 6px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;

    opacity: 0.5;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.care-receiver-details button:hover:enabled {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
    opacity: 1;
    cursor: pointer;
}

.care-receiver-details button.button-save {
    background: #4CAF50;
}

.care-receiver-details button:disabled.button-save {
    background: grey;
    cursor: default;
}

.care-receiver-details button#button-modify {
    background: #2561AE;
}

.care-receiver-details button#button-delete {
    background: #D71921;
}

.button-panel {
    text-align: center;
}

.add-care-receiver-header {
    clear: both;
    width: 500px;
}

.add-care-receiver-title {
    margin-bottom: 6px;
}

.add-care-receiver-warning {
    margin-top: 0;
    margin-bottom: 12px;
    padding-left: 6px;
    color: red;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
}

.mandatory {
    color: red;
    font-style: italic;
    font-weight: normal;
}

input:focus{
    outline: none;
}

select#sex {
    border: none;
    cursor: pointer;
    outline: none;
}