.login {
    background: #212F3C; /* fallback for old browsers */
    background: -webkit-linear-gradient(left, #212F3C, #283747);
    background: -moz-linear-gradient(left, #212F3C, #283747);
    background: -o-linear-gradient(left, #212F3C, #283747);
    background: linear-gradient(to right, #212F3C, #283747);

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: left;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 8px 0 8px 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    margin: 8px 0 8px 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}


.form button:disabled{
    background: grey;
    cursor: default;
}

.form button:hover:enabled {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    cursor: pointer;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #4CAF50;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.error-message {
    color: red;
    font-size: 12px;
    font-style: italic;
    margin-left: 15px;
}

.form-link {
    font-style: italic;
    text-decoration: none;
    font-size: 12px;
}