body {
    overflow: auto;
}

h3 {
    padding-left: 2px;
}

.main-component {
    position: relative;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.main-form {
    max-width: 500px;
}

.main-form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 8px 0 8px 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.main-form select {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 8px 0 8px 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.dropdown-button {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 8px 0 8px 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    cursor: pointer;
}

.main-form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    margin: 8px 0 8px 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.main-form button:disabled {
    background: grey;
    cursor: default;
}

.main-form button:hover:enabled {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    cursor: pointer;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.users-container {
    align-content: center;
    display: contents;
}